# La URL de tu API de Java
NEXT_PUBLIC_API_URL=http://localhost:8080/api

# Las credenciales públicas de Supabase (las sacás de Settings -> API en Supabase)
NEXT_PUBLIC_SUPABASE_URL=https://qgokssagrwpsfryhczug.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFnb2tzc2Fncndwc2ZyeWhjenVnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI2NDc3NjgsImV4cCI6MjA4ODIyMzc2OH0.O86uIRcTatj8naqra4foOgzJWYGTTkaykFgVOsdEI1c

# MercadoPago Public Key
NEXT_PUBLIC_MERCADOPAGO_PUBLIC_KEY=TEST-bcf875fd-4f86-497d-b11c-2850f3358410
